nav ul{
    list-style: none;
    display: flex;
    margin: 10px;
}
nav li{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
nav li:hover{
    background: rgb(194, 192, 192);
}
.navbar-brand{
    color: red;
}
.alert{
    text-align: center;
    margin-top: 70px;
}
.nav-item{
    font-size: 18px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
}
.nav-item:hover{
    background: rgb(194, 192, 192);
}