body {
    background: #F5EFE6;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: auto;
}

a {
    color: white;
    transition: 0.2s;
}

.navbar {
    width: 100%;
    border: 1px solid;
    margin: 0;
    padding: 0;
    background: #1A4D2E;
    border-bottom: 1px solid white;
    position: fixed;
    top: 0;
    z-index: 100;
}
.nav-logo{
    font-size: 20px;
}
.nav-content {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-item ul {
    list-style: none;
    display: flex;
}

.nav-item ul li {
    transform: rotate(180deg);
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;;
    width: 50px;
    height: 30px;
    transition: 0.2s;
}

.nav-item ul li:hover {
    background: #76ABAE;
    color: black;
}

/* header */
.header {
    width: 100%;
    position: fixed;
    top: 65px;
    z-index: 100;
}

.header ul {
    margin: 0;
    padding: 0;
    height: 25px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header ul a {
    color: #EEEEEE;
    background: #1A4D2E;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.5s;
}

.header ul a:hover {
    background: #76ABAE;
    color: black;
    height: 26px;
    text-decoration: underline;
}


/* content */
.content {
    margin-top: 94px;
}

.category {
    background: #E8DFCA;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
}

.category-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 0px 20px 10px 20px;
    font-size: 25px;
    border-bottom: 1px solid;
}

.category-content {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid;
    border-radius: 15px;
    background: none;
    width: 15rem;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 550px) {
    .category {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}

.card-title {
    border-bottom: 1px solid;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content {
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card a{
    text-decoration: none;
}

.link button {
    background: none;
    border-radius: 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 30px;
    width: 100%;
    background: #4F6F52;
    color: white;
    transition: all 0.5s;
}

.link button:hover{
    background: white;
    color: black;
}

.link-extra {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-extra a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    margin: 5px 0 5px 0;
    height: 28px;
    width: 48%;
    background: #4F6F52;
    color: white;
    transition: all 0.5s;
}

.link-extra a:hover{
    background: white;
    color: black;
}

.link-extra .btn-left {
    border-radius: 15px 0px 0px 15px;
    border: 1px solid black;
}

.link-extra .btn-right {
    border-radius: 0px 15px 15px 0px;
    border: 1px solid black;
}