body {
    background: #F5EFE6;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: auto;
}

.header {
    color: white;
    transition: 0.2s;
}

.navbar {
    width: 100%;
    border: 1px solid;
    margin: 0;
    padding: 0;
    background: #1A4D2E;
    border-bottom: 1px solid white;
    position: fixed;
    top: 0;
    z-index: 100;
}
.nav-logo{
    font-size: 20px;
}
.nav-content {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-item ul {
    list-style: none;
    display: flex;
}

.nav-item ul li {
    transform: rotate(180deg);
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;;
    width: 50px;
    height: 30px;
    color: white;
    transition: 0.2s;
}

.nav-item ul li:hover {
    background: #76ABAE;
    color: black;
}

/* header */
.header {
    width: 100%;
    position: fixed;
    top: 65px;
    z-index: 100;
}

.header ul {
    margin: 0;
    padding: 0;
    height: 25px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header ul a {
    color: #EEEEEE;
    background: #1A4D2E;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.5s;
}

.header ul a:hover {
    background: #76ABAE;
    color: black;
    height: 26px;
    text-decoration: underline;
}
/* content */
.content {
    margin-top: 94px;
}

.category {
    background: #E8DFCA;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
}

.category ul {
    padding-left: 10px;
    list-style: none;
}

.category a {
    text-decoration: none;
    color: black;
}

.category li {
    height: 28px;
    display: grid;
    align-items: center;
    height: 40px;
    padding-left: 10px;
    border-bottom: 1px solid;
    transition: 0.5s ease;
}

.category li:last-child{
    margin-bottom: 12px;
}

.category li b {
    display: flex;
    gap: 15px;
}

.category li:hover {
    background: white;
    border-radius: 12px 0px 0px 12px;
    padding-left: 20px;
}